<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reader</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="/static/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="/static/js/jquery351.js"></script>
  <script src="/static/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">


</head>

<body>


  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><span id="title"></span></a>
      <ul id="nav" class="right hide-on-med-and-down">

      </ul>

      <ul id="nav-mobile" class="sidenav">

      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>



  <div class="">
    <div class="row" id="base">
      <div id="js-carousel-1" class="owl-carousel"></div>

    </div>

    <div class="row center">
      <div class="col s6 m6 l6"><a style="width: 100%;" class="btn-large" id="prev">
          < </a>
      </div>
      <div class="col s6 m6 l6"><a style="width: 100%;" class="btn-large" id="next"> > </a></div>
    </div>


    <div id="modal1" class="modal">
      <div class="modal-content">
        <h6 id="curr_manga">Текущая манга : </h6>
        <h6 id="curr_chapter">Текущая глава : </h6>
        <div class="row">
          <div class="input-field col s6 l6 m6">
            <select id="chapters_list">
              <option value="" disabled selected>Выберите главу</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Выберите главу</label>
          </div>
          <div class="input-field col s6 l6 m6">
            <select id="pages_list">
              <option value="" disabled selected>Выберите страницу</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Выберите страницу</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="select_page" >Выбрать</a>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('#modal1')
        var instances = M.Modal.init(elems)
        //instances[0].open()
      })
      
    </script>


  </div>


  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script>
    var manga = window.localStorage.getItem('manga')
    var chapter = window.localStorage.getItem('chapter')
    var page = window.localStorage.getItem('page')
    let pages = []
    if (manga === null) {
      manga = 'AtackTitans'
      $('#curr_manga').text('Текущая манга : "Атака титанов"')
    }

    function DrawTitle(p) {
      if (p > -1) {
        page    = window.localStorage.getItem('page')
        chapter = window.localStorage.getItem('chapter')
        window.localStorage.setItem('page', p)
        document.querySelector('#title').innerHTML = `${chapter} - ${page}`
      }
      $('#curr_chapter').text(`Текущая глава : ${chapter}`)
    }

    function OpenChapter(item, page = 0) {
      chapter = item
      window.localStorage.setItem('chapter', item)

      window.localStorage.setItem('page', page)
      DrawTitle(page)

      nav_mob = new Array(...document.querySelector('#nav-mobile').children)
      nav = new Array(...document.querySelector('#nav').children)


      nav_mob.forEach(i => {
        i.name = i.querySelector('.OpenChapter').name
        i.innerHTML = `<a onclick="OpenChapter('${i.name}')" name="${i.name}" class="OpenChapter">${i.name}</a>`
      })

      nav_mob.forEach(i => {
        i.name = i.querySelector('.OpenChapter').name
        if (i.name === item) {
          i.innerHTML = `<a onclick="OpenChapter('${i.name}')" name="${i.name}" class="OpenChapter">>>${i.name}</a>`
        }
      })





      $('#base').html('<div id="js-carousel-1" class="owl-carousel"></div>')

      pages = []
      axios.get('/AtackTitans/getLinks', { params: { manga: manga, chapter: chapter } })
        .then((response) => {
          pages = response.data.pages
          pages = pages.sort()
          pages.forEach((page) => {

            link = page
            template = `<div><img class="img" style="width:${window.innerWidth}px" src="${link}" alt="${link}"></div>`
            //pages.push(link)
            $('#js-carousel-1').append(template)

          })

          var owl = initOwl(owl)

          owl.trigger('to.owl.carousel', [page, 0])
          preloadImages(pages)

        })
        .catch((err) => {
          Swal.fire(`${err}`)
        })

    }

    function initOwl() {
      var owl = $('.owl-carousel')
      owl.owlCarousel({
        items: 1,
        mouseDrag: false,
        pullDrag: false,
        touchDrag: false,
        onChanged: callBack
      })



      function callBack(event) {
        DrawTitle(event.page.index)
      }

      $('#prev').click(() => {
        owl.trigger('prev.owl.carousel')

      })

      $('#next').click(() => {
        owl.trigger('next.owl.carousel')
      })
      return owl
    }

    function preloadImages(array) {
      if (!preloadImages.list) {
        preloadImages.list = []
      }
      var list = preloadImages.list
      array.forEach(i => {

        var img = new Image()
        img.onload = () => {
          var index = list.indexOf(this)
          if (index !== -1) {
            list.splice(index, 1)
          }
        }
        list.push(img)
        img.src = array[i]

      })

    }

    function GetChapters() {

      axios.get('/AtackTitans/getChapters', { params: { manga: manga } })
        .then((response) => {
          chapters = response.data.chapters
          chapters = chapters.sort()
          chapters = chapters.reverse()
          chapters.forEach((chapter) => {
            template = `<li><a onclick="OpenChapter('${chapter}')" name="${chapter}" class="OpenChapter">${chapter}</a></li>`

            $('#nav').append(template)
            $('#nav-mobile').append(template)
          })

          if (chapter === null) {
            chapter = chapters[chapters.length - 1]
          }
          if (page === null) {
            page = 0
          } else {
            page = page
          }
          OpenChapter(chapter, Number(page))

        })
        .catch((err) => {
          Swal.fire(`${err}`)
        })

    }

    $('#title').click(event => {
        var elems = document.querySelectorAll('#modal1')
        var instances = M.Modal.init(elems)
        instances[0].open()

        chapters_list_tmp = ``
        chapters.forEach((i)=>{
          if(i == chapter){
            chapters_list_tmp = chapters_list_tmp+`<option value="${chapter}" disabled selected>${chapter}</option>`
          }else{
            chapters_list_tmp = chapters_list_tmp+`<option value="${i}" >${i}</option>`
          }
        })
        $('#chapters_list').html(chapters_list_tmp)

        pages_list_tmp = ``
        pages.forEach((i)=>{
          if(pages.indexOf(i) == page){
            pages_list_tmp = pages_list_tmp+`<option value="${page}" disabled selected>${page}</option>`
          }else{
            pages_list_tmp = pages_list_tmp+`<option value="${pages.indexOf(i)}" >${pages.indexOf(i)}</option>`
          }
        })
        $('#pages_list').html(pages_list_tmp)

        $(document).ready(()=>{
          $('select').formSelect()
        })


    })

    $('#select_page').click(event=>{
      try{
        OpenChapter($('#chapters_list').val(),$('#pages_list').val())
      }catch(err){
        Swal.fire(`${err}`)
        console.log(err)
      }
    })



    $(document).ready(() => {

      document.querySelector('#title').innerHTML = `${window.localStorage.getItem('chapter')} - ${window.localStorage.getItem('page')}`
      GetChapters()
      $('.img').css({ 'width': `${window.innerWidth}px` })
    })
  </script>
</body>

</html>