<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reader</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="/static/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="/static/js/jquery351.js"></script>
  <script src="/static/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">


</head>

<body>


  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Reader</a>
      <ul id="nav" class="right hide-on-med-and-down">
        
      </ul>

      <ul id="nav-mobile" class="sidenav">
       
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>



  <div class="">
    <div class="row" id="base">
      <div id="js-carousel-1" class="owl-carousel"></div>

    </div>

    <div class="row center">
      <div class="col s6 m6 l6"><a style="width: 100%;" class="btn-large" id="prev"> < </a></div>
      <div class="col s6 m6 l6"><a style="width: 100%;" class="btn-large" id="next"> > </a></div>
    </div>


  </div>


  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script>


    $(document).ready(() => {

      var manga   = window.localStorage.getItem('manga')
      var chapter = window.localStorage.getItem('chapter')
      var page    = window.localStorage.getItem('page')

      if (manga === null){
        manga='AtackTitans'
      }

      axios.get('/AtackTitans/getChapters',{params:{manga:manga}})
        .then((response)=>{
          chapters = response.data.chapters
          chapters = chapters.reverse()
          response.data.chapters.forEach((chapter)=>{
            template = `<li><a class="OpenChapter">${chapter}</a></li>`
            
            $('#nav').append(template)
            $('#nav-mobile').append(template)
          })

          if (chapter === null){
            chapter=response.data.chapters[response.data.chapters.length-1]
            OpenChapter(chapter)
          }
          
          $('.OpenChapter').click((i) => {
            OpenChapter(i.target.text)
            [...document.querySelector('#nav-mobile').children].forEach(i=>{i.innerText=i.innerText.replace('>> ','')})
            [...document.querySelector('#nav').children].forEach(i=>{i.innerText=i.innerText.replace('>> ','')})
            i.target.innerText=`>> ${i.target.text}`

          })
     

        })
        .catch((err)=>{
          Swal.fire(`${err}`)
        })


      function preloadImages(array) {
        if (!preloadImages.list) {
          preloadImages.list = [];
        }
        var list = preloadImages.list;
        for (var i = 0; i < array.length; i++) {
          var img = new Image();
          img.onload = function () {
            var index = list.indexOf(this);
            if (index !== -1) {
              // remove image from the array once it loaded
              // for memory consumption reasons
              list.splice(index, 1);
            }
          }
          list.push(img);
          img.src = array[i];
        }
      }

      function OpenChapter(chapter) {
        window.localStorage.setItem('chapter',chapter)
        
        $('#base').html('<div id="js-carousel-1" class="owl-carousel"></div>')
   
        var pages = []
        axios.get('/AtackTitans/getLinks',{params:{manga:manga,chapter:chapter}})
        .then((response)=>{
          response.data.pages.forEach((page)=>{

            link = page
            template = `<div><img class="img" style="width:${window.innerWidth}px" src="${link}" alt="${link}"></div>`
            pages.push(link)
            $('#js-carousel-1').append(template)

          })

          if (page === null){
            page=response.data.pages[0]
          }

          owl.trigger('to.owl.carousel',[page,0])
          initOwl()
          preloadImages(response.data.pages)

        })
        .catch((err)=>{
          swal(`${err}`)
        })
      }
      
      function initOwl(){

        var owl = $('.owl-carousel')
        

        owl.owlCarousel({
          items: 1,
          mouseDrag: false,
          pullDrag: false,
          touchDrag: false,
          onChanged:callBack
        })

        function callBack(event){
          window.localStorage.setItem('page',event.page.index)
        }

        $('#prev').click(() => {
          owl.trigger('prev.owl.carousel')
          
        })

        $('#next').click(() => {
          owl.trigger('next.owl.carousel')
        })
      }
      $('.img').css({ 'width': `${window.innerWidth}px` })
    })
  </script>
</body>
</html>