<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!--, maximum-scale=1.0, user-scalable=no-->

  <title>Reader</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="/static/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="/static/js/jquery351.js"></script>
  <script src="/static/js/materialize.min.js"></script>

  <script data-ad-client="ca-pub-9869058068347155" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <style>
    .arrows {
      position: fixed;
      bottom: 10px;
      width: 100%;
    }
  </style>
</head>

<body class='grey darken-3'>


  <nav class=" brown lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><span id="title"></span></a>
      <ul id="nav" class="right hide-on-med-and-down">

      </ul>

      <ul id="nav-mobile" class="sidenav collapsible">

        <li hidden>
          <div class="user-view">
            <div class="background">
              <img src="images/office.jpg">
            </div>
          </div>
        </li>
        <li><a href="#!"><i class="material-icons">cloud</i>AniReader</a></li>
        <li>
          <div class="divider"></div>
        </li>

        <li>
          <a class=" catalog"><i class="material-icons">turned_in</i>Каталог</a>
        </li>
        <li>
          <a class=" inwork"><i class="material-icons">turned_in</i>Избранное</a>
        </li>
        <li>
          <a class=" inwork"><i class="material-icons">rotate_right</i>Случайная манга</a>
        </li>
        <li>
          <a class=" inwork"><i class="material-icons">search</i>Поиск</a>
        </li>
        <li>
          <a class=" inwork"><i class="material-icons">turned_in_not</i>Не прочитано</a>
        </li>

        <li>
          <a class=" inwork"><i class="material-icons">share</i>Поделиться</a>
        </li>
        <li>
          <a class=" inwork"><i class="material-icons">star</i>Оценить приложение</a>
        </li>
        <li>
          <a class=" inwork" href="showADW"><i class="material-icons">ondemand_video</i>Поддержать проект</a>
        </li>
        <li>
          <a class="" href="mailto:"><i class="material-icons">feedback</i>Написать нам</a>
        </li>

        <li><a class="  inwork" href="#!"><i class="material-icons">control_point</i>Добавить комиксы</a></li>

      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="catalog" v-show="seen">
    <div class="row" id="catalog-body">




    </div>

  </div>

  <div id="chapter" v-show="seen">

    <div class="row">
      <div class="col s12 m12 l12">
        <ul class="collection" id="chapter-body">



        </ul>
      </div>
    </div>


  </div>

  <div id="page" v-show="seen">
    <div class="row" id="base">
      <div id="js-carousel-1"></div>
    </div>

    <div class="row center arrows">
      <div class="col s6 m6 l6"><a style="width: 100%;" class="btn-large blue-grey darken-4" id="prev">
          < </a>
      </div>
      <div class="col s6 m6 l6"><a style="width: 100%;" class="btn-large blue-grey darken-4" id="next"> > </a></div>
    </div>


    <div id="modal1" class="modal">
      <div class="modal-content">
        <div class="row">
          <div class="input-field col s12 l12 m12">
            <select id="pages_list">
            </select>
            <label>Выберите страницу</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close  waves-green btn-flat" id="select_page">Выбрать</a>
      </div>
    </div>



  </div>



  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>


  <!--  Scripts-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>

  <script>


    document.addEventListener('DOMContentLoaded', () => {
      var elems = document.querySelectorAll('#modal1')
      var instances = M.Modal.init(elems)
    })
    $('.inwork').click(event => {
      Swal.fire('Функция в разработке')
    })

    jQuery.prototype.Show = function () {
      this.isShow = true
      jpage.forEach(i => {
        if (i !== this) {
          i.Hide()
        }
      })
      this.show()
    }

    jQuery.prototype.Hide = function () {
      this.isShow = false
      this.hide()
    }

    function current_index() {
      return current_page - 1
    }

    M.AutoInit()




    if (window.localStorage.getItem('AnyReaderDisclamer') === null) {
      Swal.fire('Отказ от ответственности,все материалы взяты из источников в открытом доступе')
      window.localStorage.setItem('AnyReaderDisclamer', true)
    }










    let jpage = []
    let current_page = 1
    var manga = window.localStorage.getItem('manga')
    var chapter = window.localStorage.getItem('chapter')
    var page = window.localStorage.getItem('page')

    if (page !== null && page !== "NaN") {
      current_page = Number(page)
    }



    let pages = []
    if (manga === null) {
      manga = 'AtackTitans'
      $('#curr_manga').text('Текущая манга : "Атака титанов"')
    }

    var vue_main = new Vue({
      data: {
        manga: '',
        chapter: '',
        page: '',
        index: ''
      }
    })


    var vue_catalog = new Vue({
      el: '#catalog',
      data: {
        seen: true,
        mangas: []
      },
      methods: {
        show() {
          $('.sidenav').sidenav('close')
          $('#title').hide()
          screens.forEach(element => {
            if (this === element) {
              this.seen = true
            } else {
              element.seen = false
            }
          })

        },
        getMangas() {
          self = this
          showPreloader()
          axios.get('/AniReader/getMangas')
            .then(response => {
              self.mangas = response.data.mangas

              $('#catalog-body').html('')
              ContinueReadInit()
              response.data.mangas.forEach(manga => {
                $('#catalog-body').append(`<div class="col s6 l4 m3" id-manga="${manga.title}" onclick="vue_catalog.readManga(this)">
              <div class="card z-depth-2" >
                  <div class="card-image">
                      <img src="${manga.title_image}">
                  </div>
                  <div class="card-content" >
              <p>${manga.title}</p>
            </div>

          </div>
          </div>`)

              })

              hidePreloader()
            })
            .catch(err => {
              Swal.fire(`${err}`)
            })
        },
        readManga(el) {
          //console.log(el.getAttribute('id-manga'))
          vue_chapter.openManga(el.getAttribute('id-manga'))


        }
      }
    })

    var vue_chapter = new Vue({
      el: '#chapter',
      data: {
        message: 'Привет, Vue!',
        seen: true,
        current_manga: '',
        current_chapter: '',
        chapters: [],
      },
      methods: {

        show() {
          $('#chapter-body').hide()
          screens.forEach(element => {
            if (this === element) {
              this.seen = true
            } else {
              element.seen = false
            }
          })
        },
        openManga(manga) {
          window.localStorage.setItem('manga', manga)
          this.current_manga = manga
          this.getChapters(manga)
          this.show()
        },
        getChapters(manga) {

          showPreloader()
          axios.get('/AniReader/getChapters', { params: { manga: this.current_manga } })
            .then(response => {

              this.chapters = response.data.chapters.sort().reverse()
              $('#chapter-body').show()
              $('#chapter-body').html('')
              this.chapters.forEach(chap => {
                $('#chapter-body').append(` <li class="collection-item "onclick="vue_page.openChapter(this,1)">${chap}</li>`)
              })




              l = [...$('.huita')]
              l.forEach(i => {
                i.innerText = i.getAttribute('text')
              })



              hidePreloader()
            })
            .catch(err => {
              Swal.fire(`${err}`)
            })
        }
      }
    })


    var vue_page = new Vue({
      el: '#page',
      data: {
        message: 'Привет, Vue!',
        seen: true,
        current_page: 1,
        current_index: this.current_page - 1,
        chapter: ''
      },
      methods: {
        show() {
          screens.forEach(element => {
            if (this === element) {
              this.seen = true
            } else {
              element.seen = false
            }
          })
          $('#title').show()
        },
        openChapter(chapter, page = 1) {
          window.localStorage.setItem('chapter', chapter)
          showPreloader()
          current_page = page
          this.current_page = current_page
          this.page = current_page
          vue_chapter.current_chapter = chapter
          this.chapter = typeof (chapter) === 'string' ? chapter : chapter.innerText
          chapter = this.chapter
          if (this.chapter === null) {
            this.chapter = chapters[chapters.length - 1]
          }
          if (page === null) {
            page = 1
          } else {
            page = page
          }

          window.localStorage.setItem('chapter', this.chapter)
          window.localStorage.setItem('page', current_page)

          nav_mob = new Array(...document.querySelector('#chapter-body').querySelectorAll('li'))

          nav_mob.forEach(i => {
            i.name = i.innerText

            if (i.name === this.chapter) {
              //i.innerHTML = `${i.name}`
              i.classList.add('purple')
              i.classList.add('lighten-5')
            } else {
              i.classList.remove('purple')
              i.classList.remove('lighten-5')
            }

          })
          loadPages()
          /*
          $('#base').html('<div id="js-carousel-1"></div>')

          pages = []
          axios.get('/AniReader/getLinks', { params: { manga: vue_chapter.current_manga, chapter: chapter } })
            .then((response) => {
              jpage = []

              pages = response.data.pages
              pages = pages.sort()
              this.pages = pages
              $('#js-carousel-1').html('')
              pages.forEach((link) => {


                tmp = $(`<img class="img" src="${toDataURL(link)}" alt="${link}" style="width: 100%;">`)
                tmp.hide()
                jpage.push(tmp)
                $('#js-carousel-1').append(tmp)


              })
              DrawArrow()
              preloadImages(pages)

              jpage[getCurrentIndex()].Show()
              hidePreloader()
            })
            .catch((err) => {
              console.log(err)
              Swal.fire(`${err}`)
            })
            */




          this.show()


        },

      }
    })

    let screens = [
      //main,
      vue_catalog,
      vue_chapter,
      vue_page,
      //settings
    ]
    vue_catalog.getMangas()
    vue_catalog.show()
    $(document).ready(() => {

      $('.catalog').click(event => {
        vue_catalog.show()
      })

    })



    function DrawArrow() {
      if (vue_page.current_page === 1) {
        $('#prev').text('Пред. глава')
      } else {
        $('#prev').text('<')
      }

      if (current_index() === pages.length - 1 && pages.length > 0) {
        $('#next').text('След. глава')
      } else {
        $('#next').text('>')
      }
      DrawTitle()

    }

    function DrawTitle() {
      //if (p > -1) {
      current_page = vue_page.current_page
      chapter = window.localStorage.getItem('chapter')
      window.localStorage.setItem('page', vue_page.current_page)
      window.localStorage.setItem('index', Number(vue_page.current_page) - 1)
      document.querySelector('#title').innerHTML = `${chapter} - ${Number(current_page)}`
      //}
      $('#curr_chapter').text(`Текущая глава : ${chapter}`)
      //DrawArrow()

    }

    function getCurrentIndex() {
      return vue_page.page - 1
    }

    $('#prev').click(() => {
      jpage.forEach(i => {
        if (i.isShow) {
          current_page = current_page - 1
          vue_page.current_page = current_page
          vue_page.page = current_page
        }
      })

      if (current_page < 1) {
        current_page = 1
        jpage[0].Show()
      } else {
        jpage[getCurrentIndex()].Show()
      }



      DrawTitle(current_page)


      if ($('#prev').text() === 'Пред. глава') {
        if (vue_chapter.chapters[vue_chapter.chapters.indexOf(chapter) + 1] === undefined) {
          Swal.fire('Глава не найдена')
        } else {
          chapter = vue_chapter.chapters[vue_chapter.chapters.indexOf(chapter) + 1]
          $('#prev').text('<')
          vue_page.openChapter(chapter, page = 1)
        }
      }
      DrawArrow()


    })

    $('#next').click(() => {
      jpage.forEach(i => {
        if (i.isShow) {
          current_page = current_page + 1
          vue_page.current_page = current_page
          vue_page.page = current_page
        }
      })

      if (current_page > jpage.length) {
        current_page = jpage.length
        jpage[jpage.length - 1].Show()
      } else {
        jpage[getCurrentIndex()].Show()
      }

      DrawTitle()

      if ($('#next').text() === 'След. глава') {
        if (vue_chapter.chapters[vue_chapter.chapters.indexOf(chapter) - 1] === undefined) {
          Swal.fire('Глава не найдена')
        } else {
          chapter = vue_chapter.chapters[vue_chapter.chapters.indexOf(chapter) - 1]
          vue_page.openChapter(chapter)
        }
      }
      DrawArrow()



    })

    function showPreloader() {
      $('.preloader-wrapper').show()
    }

    function hidePreloader() {
      $('.preloader-wrapper').hide()
    }

    $('.preloader-wrapper').css('position', 'absolute')
    $('.preloader-wrapper').css('left', `${(window.innerWidth - $('.preloader-wrapper').width()) / 2}px`)
    $('.preloader-wrapper').css('bottom', `${(window.innerHeight - $('.preloader-wrapper').height()) / 2}px`)



    function preloadImages(array) {
      if (!preloadImages.list) {
        preloadImages.list = []
      }
      var list = preloadImages.list
      array.forEach(i => {

        var img = new Image()
        img.onload = () => {
          var index = list.indexOf(this)
          if (index !== -1) {
            list.splice(index, 1)
          }
        }
        list.push(img)
        img.src = array[i]

      })

    }

    async function loadImage(url) {
      const response = await fetch(url)
      const blob = await response.blob()
      return blob.then(data => { return data })
    }



    async function loadPages() {
      $('#base').html('<div id="js-carousel-1"></div>')

      pages = []
      response = await axios.get('/AniReader/getLinks', { params: { manga: vue_chapter.current_manga, chapter: vue_page.chapter } })
      try {
        jpage = []
        pages = response.data.pages
        pages = pages.sort()
        vue_page.pages = pages
        $('#js-carousel-1').html('')
        pages.forEach((link) => {
          image_blob = toDataURL2(link).then(dataUrl => {
            try {
              tmp = $(`<img class="img" src="${dataUrl}" alt="${link}" index="${pages.indexOf(link)}" style="width: 100%;">`)
              tmp.hide()
              jpage.push(tmp)
              //$('#js-carousel-1').append(tmp)
            } catch (err) {
              console.log(err)
              Swal.fire(`${err}`)
            }
          })
          
        })
        

        setTimeout(()=>{
        jpage.sort((a,b)=>{return Number(a.attr('index'))-Number(b.attr('index'))})
        jpage.forEach(i=>{$('#js-carousel-1').append(i)})
        DrawArrow()
        preloadImages(pages)

        jpage[getCurrentIndex()].Show()
        hidePreloader()
        },2000)
        

      } catch (err) {
        console.log(err)
        Swal.fire(`${err}`)
      }

    }



    async function toDataURL(url) {
      promise = await new Promise(async (resolve, reject) => {
        try {
          fetch(url)
      .then(response => response.blob())
      .then(blob => new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.onloadend = () => resolve(reader.result)
        reader.onerror = reject
        reader.readAsDataURL(blob)
      }))

        } catch (err) {
          console.log(err)
          reject(err)
        }
      })
      return promise
    }

    const toDataURL2 = url => fetch(url)
      .then(response => response.blob())
      .then(blob => new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.onloadend = () => resolve(reader.result)
        reader.onerror = reject
        reader.readAsDataURL(blob)
      }))
      


    








    $('#title').click(event => {
      var elems = document.querySelectorAll('#modal1')
      M.Modal.init(elems)[0].open()
      $('.modal-content').html(`     <div class="row">
        <div class="input-field col s12 l12 m12">
          <select id="pages_list">
          </select>
          <label>Выберите страницу</label>
        </div>
      </div>`)



      pages_list_tmp = ``
      vue_page.pages.forEach((i) => {
        if (vue_page.pages.indexOf(i) == getCurrentIndex()) {
          pages_list_tmp = pages_list_tmp + `<option value="${Number(vue_page.pages.indexOf(i)) + 1}" disabled selected>${Number(vue_page.pages.indexOf(i)) + 1}</option>`
        } else {
          pages_list_tmp = pages_list_tmp + `<option value="${Number(vue_page.pages.indexOf(i)) + 1}" >${Number(vue_page.pages.indexOf(i)) + 1}</option>`
        }
      })
      $('#pages_list').html(pages_list_tmp)

      $(document).ready(function () {
        $('select').formSelect()
      })




    })

    $('#select_page').click(event => {
      try {
        if ($('#chapters_list').val() !== null) {
          chapter = $('#chapters_list').val()
        }
        vue_page.openChapter(vue_chapter.current_chapter, Number($('#pages_list').val()))
      } catch (err) {
        Swal.fire(`${err}`)
        console.log(err)
      }
    })



    function ContinueRead(manga, chapter, page) {
      vue_chapter.openManga(manga)
      vue_page.openChapter(chapter, page)
    }


    function ContinueReadInit() {



      $('#catalog-body').append(`<div class="col s12" id="continue-read">
        <div class="card center">
          <span><b>Продолжить ${window.localStorage.getItem('chapter')} - ${window.localStorage.getItem('page')}</b></span>
          <div id="continue-read-img" style="height: 100px;width: 100%;background-size: cover;"></div>
        </div>
      </div>`)
      $('#continue-read').hide()

      if (null !== window.localStorage.getItem('manga') && null !== window.localStorage.getItem('chapter') && null !== window.localStorage.getItem('page')) {
        $('#continue-read').show()
        image_title = ''
        vue_catalog.mangas.forEach(i => {
          if (i.title === manga) {
            image_title = i.title_image
          }
        })
        //document.querySelector('#continue-read').querySelector('img').setAttribute('src',image_title)
        //document.querySelector('#continue-read').querySelector('img').style('src',image_title)
        $('#continue-read-img').css('backgroundImage', `url("${image_title}")`)
      }
      $('#continue-read').click(i => {
        vue_chapter.openManga(window.localStorage.getItem('manga'))
        vue_page.openChapter(window.localStorage.getItem('chapter'), Number(window.localStorage.getItem('page')))
      })
    }

  </script>
</body>

</html>