{% extends "base.html" %}
{% load static wagtailuserbar i18n wagtailcore_tags wagtail_home_tags %}
{% load wagtailsettings_tags wagtailimages_tags   %}

{% block content %}

{% get_settings use_default_site=True %}


<!-- ================== HOME ================== -->
<section id="home" class="section">
    <div class="container-wrap">
        <h1 class="entry-title" data-jarallax-element="0 30">Привет <br>Я <span>Александр Безденежных</span></h1>
        {% image settings.home.PhotoMainPageSettings.main_photo  width-470   class="main-photo block-right" data-jarallax-element="0 -30" %}
        <a href="#services" class="main-btn slow-scroll"><img src="/static/images/scroll-icon.svg" alt=""></a>
    </div>
</section>
<!-- ================= HOME END ================= -->

<!-- ================== SERVICES ================== -->
<section id="services" class="section">

    <div class="content-670">
        <h2 class="title">СЕРВИСЫ</h2>
        <div class="section-des">
            Lorem ipsum dolor sit amet consectetu adipiscing elit viverra tristique placerat
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra tristique placerat in sat massa consectetur
            quisque. Nunc aces fames lectus in libero aliquet ertare feraso est lorem nunc dolor sit amet settera aces
            volutpat in voltare lupar est phasellus.
        </p>
        <p>
            Faucibus sed tristique fames sed aliquet ultricies eget viverra arcu. Vitae faucibus diam consequat aecenas.
            Turpis metus sit diam purus leo in varius ac quam. Nunc amet tristique set volutpat <a href="#">estars
                adipiscing</a> vulputate est phasellus. Volutpat faucibus per praesent aced nuncare voltare per settera
            lorem ipsum dolor.
        </p>
    </div>

    <ul class="serv-link-cover block-right" data-jarallax-element="0 40">
        <li><a href="#">DOWNLOAD CV</a></li>
        <li><a href="#">MY PORTFOLIO</a></li>
    </ul>

    <div class="content-670">
        <div class="serv-block-wrap">

            <div class="serv-block-item">
                <img src="/static/images/serv-icon-1.svg" alt="">
                <h4>ДИЗАЙН</h4>
                <p>
                    A full stack allaround designer that may or may not include a guide for specific createive
                </p>
            </div>

            <div class="serv-block-item">
                <img src="/static/images/serv-icon-2.svg" alt="">
                <h4>РАЗРАБОТКА</h4>
                <p>
                    Tellus pharetra erat tristique erat donec dignissim etiam sed malesuada enim sodales
                </p>
            </div>

            <div class="serv-block-item">
                <img src="/static/images/serv-icon-3.svg" alt="">
                <h4>НАСТРОЙКА</h4>
                <p>
                    A full stack allaround designer that may or may not include a guide for specific createive
                </p>
            </div>

            <div class="serv-block-item">
                <img src="/static/images/serv-icon-4.svg" alt="">
                <h4>ПРОДВИЖЕНИЕ</h4>
                <p>
                    Tellus pharetra erat tristique erat donec dignissim etiam sed malesuada enim sodales
                </p>
            </div>

        </div>
    </div>
</section>
<!-- ================ SERVICES END ================ -->

<!-- ==================== ABOUT ==================== -->
<section id="about" class="section">
    <h2 class="title">ОБО МНЕ</h2>
    <div class="section-des">
        Viverra tristique placerat massa est consectetur quisque nu fames lorem ipsum dolor sit amet consectetu.
    </div>

    <div class="content-670">
        <p>
            Dolor sit amet, consectetur adipiscing elit. Viverra tristique placerat in massa consectetur quisque. Nunc
            ac fames lectus in libero aliquet lorem ipsum dolor sit amet enim est urus tincidunt magna ut turpis eu, eu
            enim. Nisl porttitor elit risus velit urna morbi mauris.
        </p>
    </div>

    <img class="about-img block-right" data-jarallax-element="0 -40" src="images/about-img.jpg" alt="">

    <ul class="about-info" data-threshold="0 0" data-jarallax-element="40 0">
        <li>
            <h6>EMAIL</h6>
            <a href="mailto:{{settings.home.ContactSettings.email}}">{{settings.home.ContactSettings.email}}</a>
        </li>
        <li>
            <h6>ROLE</h6>
            <span>Программист</span>
        </li>
        <li>
            <h6>PHONE</h6>
            <a href="tel:{{settings.home.ContactSettings.tel1}}">{{settings.home.ContactSettings.tel1}}</a>
        </li>
    </ul>

    <div class="about-text content-670">
        <p>
            Nam ultrices ultrices nec tortor pulvinar fermentum mi. Sociis sit tristique sagittis, mauris volutpat
            estera phasellus. Varius nec orci, quam augue lorem lines pellentesque non id. Tristique amet volutpat nunc
            euismod. Mauris <a href="#">felis at quam</a> sollicitudin est sempe vulputate id in nullam. Purus tincidunt
            maga ut turpis eu, eu enim. Nisl porttitor elit risus velit urna morbit mauris at proin laoreet lobortis
            urna aliquam setera fermentum sit iaculis vitae hendrerit et. Arcu ac est dictum lorem ispum dolor sit amet
            nunc usrus seio.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra tristique placerat in sat massa consectetur
            quisque. Nunc aces fames lectus in libero aliquet ertare feraso est lorem nunc dolor sit amet settera aces
            volutpat in voltare lupar est phasellus.
        </p>
        <p>
            Faucibus sed tristique fames sed aliquet ultricies eget viverra arcu. Vitae faucibus diam consequat aecenas.
            Turpis metus sit diam purus leo in varius ac quam. Nunc amet sei tristique set volutpat vulputate est
            phasellus. Volutpat faucibus per praesent aced no nuncare voltare per settera lorem ipsum dolor loboritas
            prion mauris varius est.
        </p>
    </div>

    <img class="signature" src="/static/images/signature.svg" alt="">

</section>
<!-- ================== ABOUT END ================== -->

<!-- ==================== PORTFOLIO ==================== -->
<section id="portfolio" class="section">
    <h2 class="title">ПОРТФОЛИО</h2>
    <div class="section-des">
        Viverra tristique placerat massa est consectetur quisque nu fames lorem ipsum dolor sit amet consectetu.
    </div>

    <div id="portfolio-wrapper" class="relative block-right">
        <div class="portfolio-load-content-holder"></div>
        <div class="grid" id="portfolio-grid">
            <div class="grid-sizer"></div>

            <div id="p-item-1" class="grid-item element-item p-one">
                <a class="item-link ajax-portfolio" href="portfolio-1.html" data-id="1">
                    <img src="/static/images/portfolio1.jpg" alt="" />
                    <div class="portfolio-text-holder">
                        <div class="portfolio-text-wrapper">
                            <p class="portfolio-text">Sneakers</p>
                            <p class="portfolio-cat">Text</p>
                        </div>
                    </div>
                </a>
            </div>

            <div id="p-item-2" class="grid-item element-item p-one-half">
                <a class="item-link ajax-portfolio" href="portfolio-2.html" data-id="2">
                    <img src="/static/images/portfolio2.jpg" alt="" />
                    <div class="portfolio-text-holder">
                        <div class="portfolio-text-wrapper">
                            <p class="portfolio-text">Stairways</p>
                            <p class="portfolio-cat">Text</p>
                        </div>
                    </div>
                </a>
            </div>

            <div id="p-item-3" class="grid-item element-item p-one-half">
                <a class="item-link ajax-portfolio" href="portfolio-3.html" data-id="3">
                    <img src="/static/images/portfolio3.jpg" alt="" />
                    <div class="portfolio-text-holder">
                        <div class="portfolio-text-wrapper">
                            <p class="portfolio-text">Nature</p>
                            <p class="portfolio-cat">Text</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="grid-item element-item p-one-half">
                <a class="item-link" href="https://vimeo.com/199192931" data-rel="prettyPhoto[portfolio]">
                    <img src="/static/images/portfolio4.jpg" alt="" />
                    <div class="portfolio-text-holder">
                        <div class="portfolio-text-wrapper">
                            <p class="portfolio-text">Architecture</p>
                            <p class="portfolio-cat">Video</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="grid-item element-item p-one">
                <a class="item-link" href="images/item1.jpg" data-rel="prettyPhoto[portfolio]">
                    <img src="/static/images/portfolio5.jpg" alt="" />
                    <div class="portfolio-text-holder">
                        <div class="portfolio-text-wrapper">
                            <p class="portfolio-text">Art</p>
                            <p class="portfolio-cat">Image</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ================== PORTFOLIO END ================== -->

<!-- ==================== BLOG ==================== -->
<section id="blog" class="section">
    <h2 class="title">БЛОГ</h2>
    <div class="section-des">
        Viverra tristique placerat massa est consectetur quisque nu fames lorem
    </div>

    <ul class="home-blog-list">
        <li>
            <a href="single-blog.html">The carbon in our apple pies vanquis</a>
            <div class="blog-list-info">
                <div class="date">MAR 25, 2021</div>
                <div class="category">BRANDING</div>
            </div>
        </li>

        <li>
            <a href="single-blog.html">Perga white dwarf tesseract worldlets</a>
            <div class="blog-list-info">
                <div class="date">FEB 2, 2021</div>
                <div class="category">ART</div>
            </div>
        </li>

        <li>
            <a href="single-blog.html">Network of wormholes astonishment</a>
            <div class="blog-list-info">
                <div class="date">NOV 13, 2020</div>
                <div class="category">INTERIOR</div>
            </div>
        </li>

        <li>
            <a href="single-blog.html">Citizens of distant epochs van apollonius</a>
            <div class="blog-list-info">
                <div class="date">AUG 7, 2020</div>
                <div class="category">BUSINESS</div>
            </div>
        </li>

        <li>
            <a href="single-blog.html">Encyclopaedia galactica shores of cosmic</a>
            <div class="blog-list-info">
                <div class="date">JUN 16, 2020</div>
                <div class="category">DESIGN</div>
            </div>
        </li>
    </ul>

</section>
<!-- ================== BLOG END ================== -->

<!-- ================== SKILLS ================== -->
<section id="skills" class="section">
    <h2 class="title">НАВЫКИ</h2>
    <div class="section-des">
        Lorem ipsum dolor sit amet consectetu adipiscing elit viverra tristique placerat
    </div>
    <p class="content-670">
        Viverra tristique placerat in sat massa consectetur quisque. Nunc aces fames lectus in libero aliquet ertare
        feraso est lorem nunc dolor sit amet settera aces volutpat in voltare lupar est phasellus. Faucibus sed
        tristique fames sed aliquet ultricies eget viverra arcu.
    </p>

    <ul class="skills-history block-right">
        <li>
            <span class="date">2016</span>
            <p>
                <strong>2015 - 2016</strong> placerat in massa consectetur quisque. Nunc ac fames lectus in libero
                aliquet est setera nunc.
            </p>
        </li>

        <li>
            <span class="date">2017</span>
            <p>
                <strong>2016 - 2017</strong> Turpis metus sit diam purus leo in variusquam. Nunc amet tristique volutpat
                adipiscing vulputate phasellus. Eget enim aliquam euismod mauris in vitae viverra blandit lectus diam
                feugiat.
            </p>
        </li>

        <li>
            <span class="date">2019</span>
            <p>
                <strong>2020 - 2021</strong> Nunc amet tristique volutpat adipiscing vulputate phasellus. Eget enim
                aliquam euismod.
            </p>
        </li>

        <li>
            <span class="date">2023</span>
            <p>
                <strong>2022 - 2026</strong> Eget enim aliquam euismod mauris in vitae viverra blandit lectus faucibus
                diam consequat maecenas turpis metus sit diam purus leo in varius.
            </p>
        </li>
    </ul>

    <ul class="skills-progress">

        {% for skill in page.skills.all %}

        <li>
            <span class="name">{{skill.name|upper}}</span>
            <div class="skill">
                <div class="skill-fill" data-fill="{{skill.percent}}%"></div>
            </div>
        </li>

        {% endfor %}

        
    </ul>

</section>
<!-- =============== SKILLS END =============== -->

<!-- ==================== ABOUT ==================== -->
<section id="contact" class="section">
    <h2 class="title">КОНТАКТЫ</h2>
    <div class="section-des">
        Lorem ipsum dolor sit amet consectetu adipiscing elit viverra tristique placerat.
    </div>
    <div class="content-670">
        <p>
            Dolor sit amet, consectetur adipiscing elit. Viverra tristique placerat in massa consectetur quisque. Nunc
            ac fames lectus in libero aliquet lorem ipsum dolor sit amet enim est urus tincidunt magna ut turpis eu, eu
            enim. Nisl porttitor elit risus velit urna morbi mauris.
        </p>
    </div>

    <a href="https://www.google.com/maps/place/Central+Park/@40.7828647,-73.9653551,15z/data=!4m5!3m4!1s0x0:0xb9df1f7387a94119!8m2!3d40.7828647!4d-73.9653551"
        target="_blank">
        
        {% image settings.home.PhotoMainPageSettings.contact_photo  width-740   class="block-right" %}
    </a>

    <div class="content-670">
        <div class="contact-form">
            <p>
                <input id="name" type="text" name="your-name" placeholder="ИМЯ">
            </p>
            <p>
                <input id="contact-email" type="email" name="your-email" placeholder="EMAIL">
            </p>
            <p>
                <input id="subject" type="text" name="your-subject" placeholder="ТЕМА">
            </p>
            <p>
                <textarea id="message" name="your-message" placeholder="СООБЩЕНИЕ"></textarea>
            </p>
            <p class="contact-submit-holder">
                <input type="submit" value="ОТПРАВИТЬ">
            </p>
        </div>
    </div>

</section>
<!-- ================== ABOUT END ================== -->


{% endblock %}