{% extends "base.html" %}
{% block body_class %}single-portfolio single{% endblock %}


{% block content %}
{% load wagtailcore_tags wagtailimages_tags %}
<section class="section">                    
    <div class="portfolio-item-wrapper">
        <div class="portfolio-content">    
                                   
          
            <div class="image-slider-wrapper relative block-right">
                <div class="owl-carousel owl-theme image-slider slider" data-speed="2000" data-auto="false" data-hover="true">
                    {% for i in page.gallery_images.all %}
                    <div class="owl-item">
                        {% image i.image width-400 %}
                    </div>
                    {% endfor %}                             
                </div>                                                            
            </div>
           

            <h2 class="title">{{page.name}}</h2>

            <p class="section-des" style="word-break: break-word;">{{ page.section_des|safe }}</p>

            <p class="content-670" style="word-break: break-word;">{{ page.body|safe }}</p>

        </div>                                    
    </div>                                                     
</section> 

{% endblock %}