{% exclude "base.html" %}
{% block body_class %}single-post single{% endblock %}

{% block content %} 


                <!-- ============== SINGLE-BLOG ============== -->
                <section class="single-blog section">
                    <div class="container-wrap">
                        <h1 class="entry-title">Make it simple but significant</h1>

                        <ul class="meta">
                            <li class="author">JACOB</li>
                            <li class="date">NOV 9, 2020</li>
                            <li class="category">
                                <a href="#">BRANDING</a>
                            </li>
                        </ul>

                        <div class="content-670">
                            <p>
                                Dolor sit amet, consectetur adipiscing elit. Viverra tristique placerat in massa consectetur quisque. Nunc ac fames lectus in libero aliquet lorem ipsum dolor sit amet enim est urus tincidunt magna ut turpis eu, eu enim. Nisl porttitor elit risus velit urna morbi mauris.
                            </p>
                        </div>

                        <div class="thumbnail-img block-right">
                            <img src="/static/images/img-single-blog.jpg" alt="">
                        </div>

                        <div class="content-670">
                            <p>
                                Nam ultrices ultrices nec tortor pulvinar fermentum mi. Sociis sit tristique sagittis, mauris volutpat estera phasellus. Varius nec orci, quam augue lorem lines pellentesque non id. Tristique amet volutpat nunc euismod. Mauris felis at quam sollicitudin est sempe vulputate id in nullam. Purus tincidunt maga ut turpis eu, eu enim. Nisl porttitor elit risus velit urna morbit mauris at proin laoreet lobortis urna aliquam setera fermentum sit iaculis vitae hendrerit et. Arcu ac est dictum lorem ispum dolor sit amet nunc estera per se usrus seio.
                            </p>
                            <div class="clearfix"></div>

                            <blockquote>
                                <img src="/static/images/quote.svg" alt="">
                                <p>Viverra tristique place rat sat massa consect ur quisque nunc fames lectus in libero aliquet ertare fera est lorem nunc dolor sit amet erale aces volutpat.</p>
                            </blockquote>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra tristique placerat sat massa consectetur quisque nunc fames lectus in libero aliquet ertare fera est lorem nunc dolor sit amet setterale aces volutpat in voltare lupar aes llus.
                            </p>

                            <p>
                                Faucibus sed tristique fames sed aliquet ultricies eget viverra arcu. Vitae faucibus diam consequat aecenas. Turpis metus sit diam purus leo in varius ac quam nun amet sei tristique set volutpat vulputateest phasellus. Volutpat faucibus per ame aced no nuncare voltare per settera lore.
                            </p>

                            <p>
                                Nam ultrices ultrices nec tortor pulvinar fermentum mi. Sociis sit tristique sagittis, mauris volutpat estera phasellus. Varius nec orci, quam augue lorem lines pellentesque non id. Tristique amet volutpat nunc euismod. Mauris felis at quam sollicitudin est sempe sa vulputate id in nullam. Purus tincidunt maga ut turpis eu, eu enim. Nisl porttitor elit risus velit urna morbit mauris at proin laoreet lobortis urna aliquam setera per senarre.
                            </p>

                            <ul class="soc-list">
                                <li><a href="{{social.vk}}">VK.</a></li>
                                <li><a href="{{social.instagram}}">IN.</a></li>
                                
                            </ul>

                        </div>
                    </div>
                </section>
                <!-- ============= SINGLE-BLOG END ============= -->

{% endblock %}