{% load static wagtailuserbar %}
<!DOCTYPE HTML>
<html lang="ru">

    {% include "blocks/head.html" %}

    <body class="{% block body_class %}one-page{% endblock %}"> 
        {% wagtailuserbar %}

    

        <div class="doc-loader"></div>

        <div class="container">
            <div class="page-wrapper">

                <!-- ================= HEADER ================= -->
                {% include "blocks/header.html" %} 
                <!-- =============== HEADER END =============== -->
                {% block content %}{% endblock %}

               
            </div>
        </div>

        <!--=================== SCRIPT ===================-->
        {% include "blocks/scripts.html" %}
    </body>
</html>