<div id="nav-btn" class="nav-btn">
    <span class="nav-btn-cover">
        <span class="menu-line"></span>
    </span>
</div>
<div class="s-nav">
    <div class="nav-count">
        <div class="current-num">
            <span>01</span>
        </div>
        <div class="pagination-sep">/</div>
        <div class="total-pages-num">07</div>
    </div>
    <div class="nav-container">
        <a class="site-title slow-scroll" href="#home">JACOB HAWKINS</a>
        <nav class="nav-menu">
            <ul class="nav-list">
        
                <li><a href="#home">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
      
        </nav>
    </div>
    <ul class="nav-soc">
        <li><a href="#">TW.</a></li>
        <li><a href="#">IN.</a></li>
        <li><a href="#">FB.</a></li>
    </ul>
</div>