<div id="nav-btn" class="nav-btn">
    <span class="nav-btn-cover">
        <span class="menu-line"></span>
    </span>
</div>
<div class="s-nav">
    <div class="nav-count">
        <div class="current-num">
            <span>01</span>
        </div>
        <div class="pagination-sep">/</div>
        <div class="total-pages-num">07</div>
    </div>
    <div class="nav-container">
        <a class="site-title slow-scroll" href="#home">Александр Безденежных</a>
        <nav class="nav-menu">
            <ul class="nav-list">
        
                <li><a href="{{request.site.root_page.path}}#home">Главная</a></li>
                <li><a href="{{request.site.root_page.path}}#services">Сервисы</a></li>
                <li><a href="{{request.site.root_page.path}}#about">Обо мне</a></li>
                <li><a href="{{request.site.root_page.path}}#portfolio">Портфолио</a></li>
                <li><a href="{{request.site.root_page.path}}#blog">Блог</a></li>
                <li><a href="{{request.site.root_page.path}}#skills">Навыки</a></li>
                <li><a href="{{request.site.root_page.path}}#contact">Контакты</a></li>
            </ul>
      
        </nav>
    </div>
    {% load wagtail_home_tags %}
    {% social %}
    
</div>