        {% load static %}
        <script src="/static/js/jquery.js"></script>       
        <script src="/static/js/imagesloaded.pkgd.js"></script>
        <script src="/static/js/jquery.fitvids.js"></script>
        <script src="/static/js/jarallax.js"></script>
        <script src="/static/js/jarallax-element.min.js"></script>
        <script src="/static/js/isotope.pkgd.js"></script>        
        <script src="/static/js/jquery.prettyPhoto.js"></script>                
        <script src='/static/js/owl.carousel.min.js'></script>                                                            
        <script src="/static/js/main.js"></script>
        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

        {% block extra_js %}
            
        {% endblock %}